# Default values for helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
image:
  repository: albiorixua
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v1.0.6-7ac3b12"
  arch: amd64
secret:
  name: "tgbot"
  key: "token"
  env: "TELE_TOKEN"
